/* Define the animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dashboard-body {
  flex: 4;
  height: calc(100vh - 100px);
  background-color: #e5e5e5;
  overflow: scroll;
  padding: 60px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  /* Add a fade-in animation to the user cards */
  .dashboard-user-cards {
    align-items: center;
    display: flex;
    gap: 26px;
    justify-content: space-between;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
    }

    .user-card-box {
      /* Add a transition to the user cards */
      transition: transform 0.3s ease-in-out;

      /* Add the fade-in animation */
      animation: fadeIn 0.5s ease-out;

      /* When hovering over the user cards, scale them up a bit */
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  h2 {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #213f7d;
    margin-bottom: 40px;
  }
}

.user-card-box {
  border: 1px solid #213f7d0f;
  box-shadow: 3px 5px 20px 0px #0000000a;
  width: 290px;
  height: 180px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 40px;
  padding: 20px 0 30px 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 0px;
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 5px 8px 25px 0px #00000014;
  }

  p {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #545f7d;
    transition: all 0.3s ease-in-out;
  }

  h6 {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #213f7d;
    transition: all 0.3s ease-in-out;
  }

  .font-awesome-icon {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

// TABLE

.table_container {
  overflow: scroll !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

table {
  width: max-content;
  height: 600px;
  border-collapse: collapse;
  position: relative;
  padding: 30px;
  overflow: visible;
  margin-bottom: 20px;
  background-color: white;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 2rem;
  }

  // background: linear-gradient(
  //     0deg,
  //     rgba(33, 63, 125, 0.06),
  //     rgba(33, 63, 125, 0.06)
  //   ),
  //   linear-gradient(0deg, #ffffff, #ffffff);
  // box-shadow: 3px 5px 20px 0px #0000000a;
  border-radius: 4px;

  tbody {
    tr {
      .modal_container {
        position: relative;
        cursor: pointer;

        img {
        }
      }
      td {
        padding: 25px;
        border-bottom: 1px solid #213f7d1a;
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
        color: #545f7d;
      }
    }
  }

  thead {
    font-family: Work Sans;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #545f7d;

    tr {
      th {
        padding: 25px 25px 0 25px;
        text-align: left;
        .filter_button {
          width: 10px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
  }
}

thead tr th {
  font-weight: 500;
  text-align: left;
}

// tbody tr:nth-child(even) {
//   background-color: #fafafa;
// }

th,
td {
  padding: 8px;
  overflow-wrap: break-word;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #213f7d;
}
