@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFontBold';
  src: url('../assets/fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'MyFont', sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.error {
  color: red;
  transition: 1s ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}

.cursor_pointer {
  cursor: pointer;
}

.active {
  border-left: 3px solid #39cdcc;
  background-color: #f5fcfc;
}
