.nav_container {
  /* shadow animation */
  animation: shadow-animation 0.5s forwards;

  box-shadow: 3px 0px 20px 0px #0000000a;
  padding: 0 60px 0 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;

  @media screen and (max-width: 884px) {
    display: none;
  }

  .navbar_logo {
    width: 116px;
    height: 30px;

    /* logo animation */
    animation: logo-animation 1s ease-out forwards;
  }

  .navbar_right {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search_bar_box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .uil-search_box {
        width: 50px;
        height: 40px;
        background: #39cdcc;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        color: white;
        cursor: pointer;

        /* search icon animation */
        animation: search-icon-animation 1s ease-out forwards;
      }

      input {
        border: 1px solid rgba(33, 63, 125, 0.2);
        width: 400px;
        height: 40px;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 12px 20px;
        outline: none;
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;

        /* input box animation */
        animation: input-box-animation 1s ease-out forwards;
      }
    }

    .navbar_bell_box {
      width: 23%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .uil-bell {
        font-size: 30px;
        color: #213f7d;
        cursor: pointer;

        /* bell icon animation */
        animation: bell-icon-animation 1s ease-out forwards;
      }

      span {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: #213f7d;
        text-decoration: underline;
        cursor: pointer;

        /* notification text animation */
        animation: notification-text-animation 1s ease-out forwards;
      }

      .navbar_profile_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;

        h6 {
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0px;
          text-align: left;
          color: #213f7d;

          img {
            border-radius: 9999px !important;
            object-fit: contain;
          }
        }
      }
    }
  }
}

.mobileNavbar {
  z-index: 999;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: #e5e5e5;
  top: 0;
  padding: 1.6em;
  color: black !important;
  transition: transform 0.3s ease-in-out;

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 1em;
  }

  .mobile_close_header {
    width: 38%;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #213f7d;
    transition: color 0.3s ease-in-out;

    @media (min-width: 320px) and (max-width: 768px) {
      width: 78%;
    }

    &:hover {
      color: #39cdcc;
    }
  }
}

.mobile_nav_header {
  padding: 35px;
  align-items: center;
  display: none;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 20px;
  }

  img {
    width: 116px;
    height: 30px;
    transition: all 0.3s ease;

    @media (min-width: 320px) and (max-width: 768px) {
      width: 100px;
    }
  }

  @media screen and (max-width: 884px) {
    display: flex !important;
  }

  .uil-bars {
    font-size: 32px;
    cursor: pointer;
    color: #213f7d;
    transition: all 0.3s ease;

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 20px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.mobile_search_bar_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38%;
  margin: 1rem 0;
  position: relative;

  @media (min-width: 320px) and (max-width: 768px) {
    width: 78%;
  }

  .uil-search_box {
    width: 70px;
    height: 40px;
    background: #39cdcc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    css Copy code &:hover {
      transform: scale(1.05);
    }
  }

  input {
    border: 1px solid rgba(33, 63, 125, 0.2);
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 12px 20px;
    outline: none;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    transition: all 0.2s ease-in-out;

    &:focus {
      border: 1px solid #39cdcc;
      box-shadow: 0px 0px 5px #39cdcc;
    }

    @media (min-width: 320px) and (max-width: 768px) {
      width: 300px !important;
    }
  }
}

.mobile_navbar_bell_box {
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;

  @media (min-width: 320px) and (max-width: 768px) {
    width: 78%;
  }

  .uil-bell {
    font-size: 30px;
    color: #213f7d;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #213f7d;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .navbar_profile_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    transition: all 0.3s ease;

    h6 {
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0px;
      text-align: left;
      color: #213f7d;
      transition: all 0.3s ease;
    }

    img {
      border-radius: 9999px !important;
      object-fit: contain;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.mobile_sidebar_box {
  width: 38%;
  overflow: scroll;
  transition: transform 0.3s ease-in-out;

  @media (min-width: 320px) and (max-width: 768px) {
    width: 78%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    margin-top: 1.5rem;

    li {
      padding-left: 13px;
      width: 100%;
      margin-bottom: 20px;
      height: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0px;
      text-align: left;
      text-transform: capitalize;
      color: #213f7d;
      opacity: 1;
      transition: background-color 0.2s ease-in-out, opacity 0.3s ease-in-out;

      &:hover {
        background-color: #f5fcfc;
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.overlay.overlay_active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}
