.loading {
  flex: 4;
  height: calc(100vh - 100px);
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #213f7d;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #213f7d;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user_container {
  flex: 4;
  height: calc(100vh - 100px);
  background-color: #e5e5e5;
  overflow: scroll;
  padding: 70px 60px;

  @media (min-width: 320px) and (max-width: 767px) {
    height: 100%;
    padding: 35px 30px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .user_profile_box {
    // background: linear-gradient(
    //     0deg,
    //     rgba(33, 63, 125, 0.06),
    //     rgba(33, 63, 125, 0.06)
    //   ),
    //   linear-gradient(0deg, #ffffff, #ffffff);
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 5px 20px 0px #0000000a;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;

    .profie_tab {
      .mobile_scroll {
        @media (min-width: 320px) and (max-width: 767px) {
          overflow: scroll;
          width: 99%;
          align-items: center;
          gap: 20px;
          bottom: -7px;
        }

        span:nth-child(1) {
          border-bottom: 2px solid #39cdcc;
          padding-bottom: 10px;
          position: relative;
          cursor: pointer;
          color: #39cdcc;
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: center;
        }
        span:nth-child(2),
        span:nth-child(3),
        span:nth-child(4),
        span:nth-child(5),
        span:nth-child(6) {
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: center;
          cursor: pointer;
          padding-bottom: 10px;
          position: relative;

          &:hover {
            color: #39cdcc;
            transition: 0.3s ease-in-out;
          }

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #39cdcc;
            transition: width 0.7s ease-in-out;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }

    .profile_top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
      height: 100px;
      margin-bottom: 80px;

      @media (min-width: 320px) and (max-width: 767px) {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .profile-avatar {
        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .profile_name {
        @media (min-width: 320px) and (max-width: 767px) {
          width: 100%;
          text-align: center;
        }
        h2 {
          color: #213f7d;
          font-family: Work Sans;
          font-size: 22px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: left;

          @media (min-width: 320px) and (max-width: 767px) {
            text-align: center;
          }
        }

        span {
          font-family: Work Sans;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
          color: #545f7d;
        }
      }

      .border {
        height: 0px;
        width: 80.07px;
        border: 1px solid #545f7d;
        transform: rotate(90deg);
        opacity: 20%;

        @media (min-width: 320px) and (max-width: 767px) {
          transform: rotate(180deg);
        }
      }

      .user_amount {
        @media (min-width: 320px) and (max-width: 767px) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        h2 {
          font-family: Work Sans;
          font-size: 22px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: left;
          color: #213f7d;
          margin-bottom: 12px;
        }

        span {
          font-family: Work Sans;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0px;
          text-align: left;
          color: #213f7d;
        }
      }

      .user_tier {
        p {
          font-family: Work Sans;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
          color: #545f7d;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          margin-top: 11px;
        }
      }

      .profile_img {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        background-color: #dbe0ea;

        .uil-user {
          font-size: 30px;
          color: #213f7d;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .user_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 320px) and (max-width: 767px) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      flex-direction: column;
    }

    h2 {
      font-family: Work Sans;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      color: #213f7d;
    }

    .user_switch_box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      span {
        padding: 12px 16px;
        cursor: pointer;
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: center;
        border-radius: 8px;
      }
    }
  }

  .user_back_link {
    margin-bottom: 40px;
    width: max-content;
    display: flex;
    transition: 0.5s ease-in;
    align-items: center;
    justify-content: center;
    gap: 14px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #545f7d;
  }
}

// INFORMATION CONTAINER
.information_container {
  padding: 30px;
  border: 1px solid #213f7d0f;
  box-shadow: 3px 5px 20px 0px #0000000a;
  background-color: white;
  border-radius: 4px;

  h6 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #213f7d;
    margin-bottom: 30px;
  }

  .employment {
    height: 172px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 100px;
    grid-auto-flow: row;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1114px) {
      grid-template-columns: 1fr 1fr;
      height: auto;
    }

    span {
      font-family: Work Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: left;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      text-transform: uppercase;
      color: #545f7d;
    }

    h6 {
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0px;
      text-align: left;
      color: #213f7d;
      margin-bottom: 30px;
      width: max-content;
    }
  }

  .personal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 100px;
    grid-auto-flow: row;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      // grid-template-columns: 1fr 1fr;
      // gap: 10px 0px;
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    span {
      font-family: Work Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: left;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      text-transform: uppercase;
      color: #545f7d;
    }

    h6 {
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0px;
      text-align: left;
      color: #213f7d;
      margin-bottom: 30px;
      width: max-content;

      @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-top: 5px;
      }
    }
  }
}

.tab-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll !important;
  &::-webkit-scrollbar {
    display: none;
  }

  .overflow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: max-content;
    }
  }

  .tab {
    padding: 0 12px;
    margin: 0 12px;
    font-size: 18px;
    font-weight: bold;
    color: #777;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: #39cdcc;
    }

    &.tabactive {
      color: #39cdcc;
      border-bottom: 3px solid #39cdcc;
    }
  }
}

.tab-content {
  font-size: 18px;
  text-align: center;
  color: #444;
}
